<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;">
	<head>
    	<meta name="viewport" content="width=device-width" />
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<title>Bienvenido en {{ Config::get('settings.sitename') }}</title>
  	</head>
<body bgcolor="#FFFFFF" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0;">&#13;
&#13;
&#13;
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#fff" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; width: 600px; margin: 0 auto; padding: 0;"><tr style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;"><td style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;">&#13;
			&#13;
				<div style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; width: 600px; display: block; margin: 0 auto; padding: 0;">&#13;
					<table width="600" border="0" align="center" cellpadding="10" cellspacing="0" bgcolor="#fff" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; width: 600px; margin: 0; padding: 0;">
                    <tr style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;">
					        <td height="5" colspan="2" bgcolor="#666480" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;"></td>
				        </tr>
                    <tr style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;">
                        <td colspan="2" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;">&nbsp;</td>
                    </tr>
                    <tr style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;">
						<td style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;"><a href="'.URL.'" title="{{ Config::get('settings.sitename') }}">
						<img src="{{ URL::to('/images/logo.png') }}" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; max-width: 100%; margin: 0; padding: 10px;" alt="{{ Config::get('settings.sitename') }}" /></a></td>&#13;
						<td align="right" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;"><h6 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #F19A97 !important; line-height: 1.1; font-weight: 900; font-size: 12px; text-transform: uppercase; margin: 0; padding: 0 10px 0 0;">{{ Config::get('settings.slogan') }}</h6></td>&#13;
					</tr>
					    <tr style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;">
					        <td colspan="2" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;">&nbsp;</td>
				        </tr>
					    <tr style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;">
					        <td height="2" colspan="2" bgcolor="#f2f2f2" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;"></td>
				        </tr>
					</table>
				</div>&#13;
				&#13;
		</td>&#13;
		&#13;
	</tr></table>
    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; width: 600px; margin: 0 auto; padding: 0;"><tr style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;"><td align="center" bgcolor="#FFFFFF" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;">&#13;
&#13;
			<div style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; width: 600px; display: block; margin: 0 auto; padding: 0;">&#13;
			<table border="0" align="center" cellpadding="0" cellspacing="0" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; width: 600px; margin: 0; padding: 0;"><tr style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;"><td style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;">&#13;
            &#13;
            &#13;
            
						&#13;
                        &#13;
			<p style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">Hola</p>
						<h3 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #000; line-height: 1.1; font-weight: 500; font-size: 27px; margin: 10px 10px 10px 0; padding: 0;">{{ $name }}</h3>
&#13;<p style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;"><br />
  Bienvenido a {{ Config::get('settings.sitename') }}<br />Tus datos de acceso son:</p>
						&#13;
						<p style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">&#13;
                       Email: <strong>{{ $email }}</strong><br />
                       Contraseña: <span style="color:#50B2BD"><strong>{{ $pass }}</strong></span><br />
                       Fecha: <strong>{{ date("d-m-Y") }}</strong><br />
					   
                         &#13;
                        </p>&#13;
                        
											&#13;
						<br style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;" /><br style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;" /></td>&#13;
				</tr></table></div>&#13;
									&#13;
		</td>&#13;
	</tr></table>
    
    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#fff" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; width: 600px; margin: 0 auto; padding: 0;"><tr style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;"><td style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;">&#13;
			&#13;
				<div style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; width: 600px; display: block; margin: 0 auto; padding: 0;">&#13;
					<table width="600" border="0" align="center" cellpadding="10" cellspacing="0" bgcolor="#fff" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; width: 600px; margin: 0; padding: 0;">
                    <tr style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;">
					        <td height="2" bgcolor="#f2f2f2" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;"></td>
				        </tr>
                        <tr style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;">
					        <td height="20" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;"></td>
				        </tr>
                    <tr style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;">
						<td align="center" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;"><a href="'.URL.'" title="{{ Config::get('settings.sitename') }}">
						<img src="{{ URL::to('/images/logo.png') }}" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; max-width: 100px; margin: 0; padding: 10px;" alt="{{ Config::get('settings.sitename') }}" /></a></td>&#13;						&#13;
					</tr>
                    <tr style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;">
                        <td align="center" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;">&nbsp;</td>
                    </tr>
					    <tr style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;">
					        <td style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;"><table width="135" border="0" align="center" cellpadding="0" cellspacing="0">
					            <tr>
					                <td width="30">
                                    	<a href="{{ Config::get('settings.facebook') }}" title="Síguenos en Facebook">
                                    		<img src="{{ URL::to('/images/mail_footer_facebook.png') }}" alt="Síguenos en Facebook" width="30" height="30" />
                                        </a>
                                    </td>
					                <td width="5"></td>
					                <td width="30">
                                    	<a href="{{ Config::get('settings.instagram') }}" title="Síguenos en Instagram">
                                    		<img src="{{ URL::to('/images/mail_footer_instagram.png') }}" alt="Síguenos en Instagram" width="30" height="30" />
                                        </a>
                                    </td>
					                <td width="5"></td>
					                <td width="30">
                                    	<a href="{{ Config::get('settings.twitter') }}" title="Síguenos en Twitter">
                                    		<img src="{{ URL::to('/images/mail_footer_twitter.png') }}" alt="Síguenos en Twitter" width="30" height="30" />
                                        </a>
                                    </td>
					                <td width="5"></td>
					                <td width="30">
                                    	<a href="{{ Config::get('contacto') }}" title="Contáctanos">
                                    		<img src="{{ URL::to('/images/mail_footer_mail.png') }}" alt="Contáctanos" width="30" height="30" />
                                        </a>
                                    </td>
				                </tr>
				            </table></td>
				        </tr>
					    <tr style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;">
					        <td height="40" align="center" valign="middle" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0; font-size:11px;">Tienes más dudas? Contáctanos: {{ Config::get('settings.emailWeb') }}</td>
				        </tr>
					    <tr style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;">
					        <td bgcolor="#666480" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #333; margin: 0; padding: 0;">&nbsp;</td>
				        </tr>
					</table>
				</div>&#13;
				&#13;
		</td>&#13;
		&#13;
	</tr></table>
    
    </body>
</html>